.main-nav {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);

  .navbar-logo {
    height: 50px;
  }

  .nav-item {
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $black;
    font-family: franklin-gothic-urw, sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  @include mobile {
    .navbar-nav {
      position: relative;
      height: calc(100vh - 76px);
      font-size: 20px;
      .navbar-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .nav-item {
      text-align: center;
    }
  }

  @include desktop {
    .navbar-container {
      display: inherit;
    }
    .nav-item {
      margin-right: 50px;
      font-size: 16px;
    }

    .nav-item:not(.active)::before {
      content: "";
      position: absolute;
      bottom: 5px;
      left: -100%;
      transform: translateY(-50%);
      z-index: -999;
      width: 0;
      height: 10px;
      background-color: $red;
      transition: 1s cubic-bezier(0.3, 0.5, 0.3, 1.3);
    }

    .nav-item:not(.active):hover::before {
      left: 25%;
      width: 75%;
    }

    .active {
      font-weight: normal;
    }

    .active::before {
      content: "";
      position: absolute;
      bottom: 5px;
      left: 25%;
      transform: translateY(-50%);
      z-index: -999;
      width: 75%;
      height: 10px;
      background-color: $red;
      transition: 0.5s cubic-bezier(0.3, 0.5, 0.3, 0.9);
    }

    .active:hover::before {
      left: 50%;
      width: 50%;
    }
  }
}
