.about-header-img {
  max-width: $max-img-width;
  margin: 0 auto;
  width: 100vw;
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;

  @include lg {
    background-attachment: fixed;
    height: 65vh;
  }
  @include xl {
    background-attachment: fixed;
    height: 65vh;
  }
}

.about-description {
  margin: 100px auto;
  padding: 0 20px;
  width: auto;
  max-width: 700px;
  color: rgb(49, 49, 49);

  h1 {
    font-family: franklin-gothic-urw, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 76px;
    margin-bottom: 50px;
  }
  p {
    max-width: 600px;
    font-family: franklin-gothic-urw, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 34px;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: franklin-gothic-urw, sans-serif;
  }

  a {
    text-decoration: none;
    color: inherit;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 54%,
      $highlither-color 54%
    );
  }
  a:hover {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 54%,
      $highlither-color 54%
    );
  }

  ::selection {
    color: white;
    background: $highlither-color;
  }

  @include xs {
    margin: 50px auto;
    h1 {
      font-size: 47px;
    }
  }

  @include sm {
    margin: 50px auto;
    h1 {
      font-size: 47px;
    }
  }
}
