.footer {
  margin: 0 auto;
  padding: 25px 0;
  .footer-copyright {
    margin: 0;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 12px;
    color: rgb(100, 100, 100);
    text-align: center;
  }
}
