.featured-projects {
  .project-thumbnail {
    // max-width: 1920px;
    // margin: 0 auto;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include xs {
      height: 75vh;
    }

    a {
      color: inherit;
    }

    a:hover {
      color: inherit;
      text-decoration: none;
    }

    .project-thumbnail-content {
      margin: 0 auto;
    }

    .titles {
      display: block;
      position: sticky;
      bottom: 35%;
      text-align: center;

      @include xs {
        bottom: 50%;
      }
    }

    .project-title {
      text-transform: uppercase;
      font-size: 50px;
      font-family: franklin-gothic-urw, sans-serif;
      font-weight: 900;
      font-style: normal;
      margin: 0;
      letter-spacing: -1px;
    }

    .project-type {
      font-family: itc-galliard, serif;
      font-weight: 400;
      font-style: italic;
      margin: 0;
      font-size: 30px;
    }

    .project-image-container {
      padding-top: 100px;
      display: block;
      overflow: hidden;
      width: 60vw;
      height: 40vw;
      max-width: 1600px;
      max-height: 1066px;

      @include xs {
        padding-top: 0;
        margin-top: 100px;
        width: 100vw;
        height: 66vw;
      }
      @include sm {
        padding-top: 0;
        margin-top: 100px;
        width: 100vw;
        height: 66vw;
      }
      @include md {
        padding-top: 0;
        margin-top: 100px;
        width: 100vw;
        height: 66vw;
      }

      .project-image {
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        transition: all 0.5s ease-in-out;
      }
    }

    .project-thumbnail-content:hover .project-image {
      transform: scale(1.05);
    }

    @include xs {
      .project-title {
        font-size: 30px;
      }
      .project-type {
        font-size: 25px;
      }
    }
  }
  .project-thumbnail:first-child .project-image-container {
    margin-top: 0;
  }
}
