.page-intro {
  margin: 0;
  background-color: #edeeff;

  .intro-logo-container {
    height: 100vh;
  }

  .intro-logo {
    transition: all 1s ease;
  }

  .intro-logo:hover {
    transform: scale(1.1);
  }
}
