.page-intro {
  margin: 0;

  .intro-logo-container {
    height: 100vh;

    .intro-logo {
      display: block;
      margin: 0 auto;
      max-height: 200px;
      transition: all 1s ease;
    }

    .intro-logo:hover {
      transform: scale(1.05);
    }
  }
}
