@import "../../node_modules/bootstrap/scss/bootstrap";

body {
  overflow-x: hidden;
}

$highlither-color: rgba(141, 141, 141, 1);

$max-img-width: 1920px;

@import "breakpoints";
@import "intro";
@import "home";
@import "about";
@import "navbar";
@import "single_project";
@import "projects_overview";
@import "projects_overview2";
@import "footer";
