@import "../../node_modules/bootstrap/scss/bootstrap";

body {
  overflow-x: hidden;
}

$violet: rgb(211, 212, 241);
$light-violet: rgb(237, 238, 255);

@import "breakpoints";
@import "intro";
@import "navbar";
@import "single_project";
