<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ siteName }}
			-
			{{ entry.title }}</title>
		<link rel="stylesheet" href="assets/main.css">

	</head>
	<body class="page-intro">
		<div class="container d-flex flex-column justify-content-center intro-logo-container">
			<a href="home" class="">
				<img class="img-fluid intro-logo" src="{{ entry.introLogo.one.url }}" alt="Cristina Ionas logo">
			</a>
		</div>
	</body>
</html>
