<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/cristina/assets/main.css" />

    <title>
      {{ siteName }}
      -
      {{ entry.title }}
    </title>
  </head>
  <body>
    {{ include("navbar.twig") }}
    <div id="content">{% block content %}{% endblock %}</div>
    {{ include("footer.twig") }}

    <script src="/cristina/assets/scripts/jquery.js"></script>
    <script src="/cristina/assets/scripts/popper.js"></script>
    <script src="/cristina/assets/scripts/boostrap.js"></script>
  </body>
</html>
